<%include ../partials/header %>

<div class="container" style="padding-top: 10%;text-align: center; " >
<h1 > Add a Review for <%=campground.name%>!!</h1>
<div style="width:30%; margin: 0 auto; padding-top: 2%">
    <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
        <div class="form-group">
    	    <input class="form-control" type="text" name="comment[body]" placeholder="Comment">
        </div>
	    <div class="form-group">
		    <button class="btn btn-lg btn-primary btn-block">Submit</button>
	    </div>
    </form>
    <a class="btn btn-sm btn-dark" href="/campgrounds/<%=campground._id%>">Go Back !!</a>
</div>
</div>



<% include ../partials/footer %>