<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp v1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
<body >
	<nav class=" navbar navbar-expand-lg navbar-light bg-light navbar fixed-top" >
		<div class="container">
			<a class="navbar-brand" href="/"><strong><i class="fas fa-campground"></i>Yelp Camp</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(!currentUser){%>
    	<li class="nav-item">
        <a class="nav-link" href="/register">Sign Up <i class="fas fa-user-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign In <i class="fas fa-sign-in-alt"></i></a>
      </li>
   <% } else {%> 
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome <strong><%=currentUser.username%></strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logOut</a>
      </li>
   <% }%> 
    </ul>
  </div>
  </div>
</nav>
<div class="container ">
<h1>header overlaps</h1>
<%if(success && success.length>0){ %>
  <div class="alert alert-success" role="alert">
  <%=success%>
</div>
<% }%>
<%if(error && error.length>0){ %>
<div class="alert alert-danger" role="alert">
  <%=error%>
</div>
<% }%>
<%if(info && info.length>0){ %>
<div class="alert alert-danger" role="alert">
  <%=info%>
</div>
<% }%>


</div>