<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
</head>
<body>
	<div id="landing-header">
		<h1>Welcome to YelpCamp!</h1>
        <a class="btn btn-lg btn-info" href="/campgrounds">View All Campgrounds</a>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>


<% include partials/footer%>
</body>
</html>

